/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
 
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

.gameBoard {
  display: flex;
  background-color: lightgreen;
  overflow-x: hidden;
  overflow-y: hidden;
}

.score {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: rgb(61, 191, 191);
  padding: 2rem;
  color: #333;
  border-radius: 11px;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  font-weight: bold;
  padding: 2rem;
  border-radius: 11px;
  background-color: #777;
  z-index: 999;
}
 
.gameArea {
  position: relative;
  width: 40vw;
  height: 100vh;
  background-color: #333;
  margin-left: auto;
  margin-right: auto;
}

.car {
  position: absolute;
  bottom: 1rem;
  width: 8rem;
  height: 10rem;
  background-color: red;
}

.enemy {
  position: absolute;
  bottom: 1rem;
  width: 8rem;
  height: 10rem;
  background-color: blue;
}

.line {
  position: absolute;
  width: 1rem;
  height: 10rem;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
}

.hide {
  display: none;
} 